form{
    margin-bottom:50px;
}

.comment-input{
    height: 30px;
    width:100%;
}

.comment-button{
    height: 35px;
    border: 1px solid #4cd8ff;;
    color:#4cd8ff;;
    border-radius: 0;
    background-color: rgb(70, 70, 70);
    font-size: 1rem;
    margin-top:30px;
    padding-left: 15px;
    padding-right: 15px;
}

.comment-button:hover{
    background-color: #4cd8ff;
    color:rgb(70, 70, 70);
    cursor:pointer;
}