form{
    margin-bottom:50px;
}

.comment-input{
    height: 30px;
    width:500px;
}

.comment-button{
    height: 35px;
    border: 1px solid #98ec6e;
    color:#98ec6e;
    border-radius: 0;
    background-color: rgb(70, 70, 70);
    font-size: 1rem;
    margin-left:15px;
    padding-left: 15px;
    padding-right: 15px;
}

.comment-button:hover{
    background-color: #98ec6e;
    color:rgb(70, 70, 70);
    cursor:pointer;
}