<h1>Ajouter un article</h1>

<form [formGroup]="articleAddForm" (ngSubmit)="validFormAddArticle()">
    <div>
        <div class="input-container">
            <label for="titre">Titre</label><br>
            <input class="litle-input" name="titre" type="text" formControlName="titre">
        </div>
        <div class="input-container">
            <label for="contenu">Contenu</label><br>
            <textarea class="big-input" name="contenu" type="text" formControlName="contenu"></textarea>
        </div>

        <div>
            <input class="submit" type="submit" value="Ajouter l'article">
        </div>
    </div>

</form>
