<h1>Modifier Profil</h1>

<form [formGroup]="updateProfilForm" (ngSubmit)="validUpdateProfilForm()">
    <div>
        <div class="input-container">
            <label for="pseudo">Pseudo</label><br>
            <input class="litle-input" placeholder="{{user}}" name="pseudo" type="text" formControlName="pseudo">
        </div>
        <div class="input-container">
            <label for="avatar">Image de profil</label><br>
            <input class="litle-input" name="avatar" type="text" formControlName="avatar">
        </div>

        <div>
            <input class="submit" type="submit" value="Enregistrer les modifications">
        </div>
    </div>

</form>
